version: "2.1"

services:
  plc-gateway:
    build: .
    privileged: true
    network_mode: host
    restart: always
    environment:
      - PLC_IP=192.168.1.100
    labels:
      io.balena.features.supervisor-api: '1'
      io.balena.features.balena-api: '1'

  network-bridge:
    build:
      context: .
      dockerfile: Dockerfile.network
    privileged: true
    network_mode: host
    restart: always
    cap_add:
      - NET_ADMIN
    labels:
      io.balena.features.supervisor-api: '1'
